<page-header title="Change Password" icon="fa fa-user"></page-header>

<div class="content_show container">
    <form class="form-horizontal" role="form" ng-submit="profileVm.changePassword(newPassword)">
        <div class="card bg-white no-padding">
            <div class="card-header header-line">
                <h2>
                    Enter Password Details
                    <small>Changing your password</small>
                </h2>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="OldPassword">Current Password</label>
                    <div class="col-sm-4">
                        <input type="password" class="form-control" id="OldPassword"
                               required ng-model="newPassword.OldPassword">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" for="NewPassword">New Password</label>
                    <div class="col-sm-4">
                        <input type="password" class="form-control" id="NewPassword"
                               required ng-model="newPassword.NewPassword">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" for="ConfirmPassword">Confirm Password</label>
                    <div class="col-sm-4">
                        <input type="password" class="form-control" id="ConfirmPassword"
                               required ng-model="newPassword.ConfirmPassword">
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <label class="col-sm-2"></label>
                <button type="submit" class="btn btn-success"><i class="fa fa-save"></i>Save Changes</button>
            </div>
        </div>
    </form>
</div>