/**OVERRIDES**/
::-webkit-scrollbar {
    width: 10px;
    height: 16px;
}

::-webkit-scrollbar-thumb {
    min-height: 20px;
    padding-top: 100px;
    padding-right: 10px;
    border-left: 1px solid #F9F9F9;
    border-right: 1px solid #F9F9F9;
    -ms-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #d0cece;
    -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 rgba(0, 0, 0, 0.07);
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
}


::-webkit-scrollbar-button {
    height: 0;
    width: 0;
}

::-webkit-scrollbar-track {
    -ms-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #F5F5F5;
}


$asscent-color: #0359A2;


body {
    font-size: 14px;
    font-family: 'RobotoRegular';
    background-color: #fcfcfc;
}

.navbar {
    background-image: none;
    background-repeat: no-repeat;
    -ms-filter: none;
    filter: none;
}

.navbar-header {
    margin-bottom: -1px;
    border-right: 1px solid $asscent-color !important;
    margin-right: 10px;
}

.navbar-inverse {
    margin-bottom: 0;
    background-color: $asscent-color !important;
    -webkit-box-shadow: -2px 3px 1px #CACACA;
    -ms-box-shadow: -2px 3px 1px #CACACA;
    box-shadow: -2px 3px 1px #CACACA;
    -ms-border-radius: 0px;
    border-radius: 0px;
}

.profile_menu {
    margin-right: 5px;
}

.header .navbar-brand {
    margin-top: -3px;
    font-size: 17px;
    color: #ffffff;
    background-color: $asscent-color !important;
}

.navbar-brand > img {
    display: inline-block;
    width: 30px;
}

.header .navbar-nav > .active > a {
    color: #f2f2f4;
    background-color: $asscent-color !important;
    /*-ms-border-radius: 20px;
    border-radius: 20px;*/
    background-color: transparent;
}

.header .navbar-nav > li > a, .header .navbar-nav > li > a:hover {
    color: #f2f2f4;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    color: #f2f2f4;
    background-color: $asscent-color !important;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    border-color: #f2f2f4;
}

.navbar-nav.navbar-right:last-child {
    margin-right: 0px;
    margin-top: -4px;
}

.navbar-inverse .navbar-collapse {
    margin-top: 2px;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: transparent;
}

#login-body{
    display: table;
    position: absolute;
    width: 100%;
    margin-top: 100px;
    margin-left: -60px
}

.login_box {
    display: table-cell;
    vertical-align: middle;
}

.login_form {
    width: 420px;
    padding: 27px;
    margin: auto;
}

.sidebar {
    position: fixed;
    border-right: 1px solid #DEDEDE;
    width: 125px;
    height: 100%;
    background-color: #F5F5F5;
    overflow: scroll;
    padding-bottom: 38px;
    top: 53px;
}

    .sidebar .nav {
        margin-bottom: 0;
        padding-left: 0;
        list-style: none;
    }

        .sidebar .nav li {
            text-align: center;
            margin: 8px;
            margin-top: 2px;
            margin-left: 11px;
            margin-right: 2px;
            border: 1px solid #C2C2C2;
            background-color: #F4F4F4;
        }

            .sidebar .nav li.active {
                background: #FCFCFC;
            }
            
            .sidebar .nav li.active a{
                color: $asscent-color;
            }

            .sidebar .nav li a {
                color: #406788;
                padding-left: 2px;
                padding-right: 2px;
            }


            .sidebar .nav li label {
                cursor: pointer;
                font-weight: normal;
            }


    .sidebar .fa, .sidebar .glyphicon {
        font-size: 25px;
    }


.version{
    font-size: 10px;
}

.content_container {
    top: 63px;
    position: absolute;
    padding: 0 1px;
    left: 125px;
    right: 0px;
}

    .content_container .pageheader_container {
        top: 51px;
        left: 300px;
        /*background-color: #FAFAFA;*/
    }

    .content_container .pageheader {
        padding: 0px;
        padding-left: 10px;
        border-bottom: 1px solid #DDD;
        position: relative;
        margin-top: -5px;
        padding-bottom: 5px; /*
        background: #fbfbfb;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);*/
    }

        .content_container .pageheader .pageicon {
            width: 41px;
            font-size: 20px;
            padding: 5px;
            color: $asscent-color;
            border: 2px solid $asscent-color;
            display: inline-block;
            -moz-border-radius: 10px;
            -webkit-border-radius: 10px;
            -ms-border-radius: 10px;
            border-radius: 10px;
            float: left;
            text-align: center;
            margin-top: -11px;
            margin-right: 5px;
        }



        .content_container .pageheader .pagetitle h3 {
            font-size: 17px;
            margin-top: 11px;
        }

.pagetitle .extra {
    float: right;
    margin-top: -32px;
    margin-right: 10px;
}

    .pagetitle .extra .btn {
        margin-right: 10px;
    }

.content_container .content_show {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    margin-top: 10px;
    /*background: #f9f9f9;*/
}

    .content_container .content_show .side_form {
        margin-top: 10px;
    }

    .content_container .content_show .grid_controls {
        margin-bottom: 11px;
        margin-top: 10px;
    }

        .content_container .content_show .grid_controls .form-inline .col-sm-3 {
            padding: 0px;
        }

    .content_container .content_show .card_head_ctrls {
        margin-left: 15px;
    }


    .content_container .content_show label {
        font-weight: normal;
    }

    .content_container .content_show .row {
        margin-left: 0px;
        margin-right: 0px;
    }

    .content_container .content_show .panel .panel-heading {
        /*font-weight: bold;*/
        /*color: #2F4354;*/
    }

        .content_container .content_show .panel .panel-heading .filter {
            float: right;
            margin-top: -7px;
            margin-right: -24px;
        }

        .content_container .content_show .panel .panel-heading .panel_head_button {
            float: right;
            margin-top: -6px;
            margin-left: 5px;
            margin-bottom: 0px;
        }

        .content_container .content_show .panel .panel-heading .panel_head_input {
            float: right;
            margin-top: 0px;
            margin-left: 5px;
        }

        .content_container .content_show .panel .panel-heading .panel_head_text {
            float: right;
            margin-left: 5px;
        }

        .content_container .content_show .panel .panel-heading .pager {
            margin: 0px;
            display: inline-block;
            float: right;
        }

    .content_container .content_show .panel .panel-footer .pager, .content_container .content_show .card .card-footer .pager {
        margin: 0px;
        display: inline-block;
        float: right;
        margin-top: -6px;
    }

        .content_container .content_show .panel .panel-footer .pager li, .content_container .content_show .card .card-footer .pager li {
            margin-left: 5px;
            cursor: pointer;
        }

    .content_container .content_show .btn-width {
        -moz-min-width: 120px;
        -ms-min-width: 120px;
        -o-min-width: 120px;
        -webkit-min-width: 120px;
        min-width: 120px;
    }

    .content_container .content_show .btn i,
    .login_box .btn i, .modal .btn i {
        margin-right: 7px;
    }

        .content_container .content_show .btn i.icon_only {
            margin-right: 0px;
        }

    .content_container .content_show .form_grid {
        padding: 14px;
    }

    .content_container .content_show .tab-content .tab-pane {
        padding: 20px 10px;
    }

    .content_container .content_show .no-col-form .form-group {
        margin-right: 10px;
    }

    .content_container .content_show .model_form .form-group {
        margin-right: 0;
    }

    .content_container .content_show .grid_controls .form-group {
        margin-right: 0;
    }


    .content_container .content_show .box .form-group, .content_container .content_show .panel .form-group {
        margin-right: 0;
    }


    .content_container .content_show .clear-margin-right {
        margin-right: 0;
    }

    .content_container .content_show .clear-padding-right {
        padding-right: 0;
    }

.pager li > a, .pager li > span {
    -ms-border-radius: 2px !important;
    border-radius: 2px !important;
}

.amt {
    text-align: right;
}

.form-control[readonly].amt-readonly {
    text-align: right;
    background-color: #fff;
}

.form-control[readonly].clear-readonly {
    background-color: #fff;
}

.radio-container {
    border: 1px solid #C7C7C7;
    padding: 5px;
    margin: 0;
    -ms-border-radius: 4px;
    border-radius: 4px;
}

.amt_due {
    color: #800000;
    font-weight: bold;
    font-size: 15px;
}

.num_col_1 {
    text-align: center;
    width: 35px;
}

.num_col_2 {
    text-align: center;
    width: 65px;
}

.num_col_3 {
    text-align: center;
    width: 82px;
}

.num_col_4 {
    text-align: center;
    width: 96px;
}

.table > thead > tr > th:first-child, .table > tbody > tr > th:first-child, .table > tfoot > tr > th:first-child, .table > thead > tr > td:first-child, .table > tbody > tr > td:first-child, .table > tfoot > tr > td:first-child {
    padding-left: 30px;
}

.table > tbody > tr > td {
    color: #696969;
}

.table.md > tbody > tr > td {
    line-height: 2.5;
}

.table {
    margin-bottom: 0;
}

table tbody td a {
    margin-right: 2px;
}

    table tbody td a:hover {
        text-decoration: none;
    }


.link-row {
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.blank-page-msg {
    margin-top: 40px;
    font-size: 16px;
    text-align: center;
}

.top-primary {
    border: 1px solid #3c8dbc;
    border-top: 2px solid #3c8dbc;
}

    .top-primary .panel-heading {
        border-bottom: 1px solid #3c8dbc;
    }

.top-default {
    border: 1px solid #c1c1c1;
    border-top: 2px solid #c1c1c1;
}

    .top-default .panel-heading {
        border-bottom: 1px solid #c1c1c1;
    }

.overlay {
    z-index: 1010;
    background: #ffffff;
    background: rgba(255, 255, 255, 0.53);
}

.back_btn {
    font-size: 13px;
    margin-left: 14px;
}

    .back_btn:hover {
        text-decoration: none;
    }

.required {
    color: #800000;
    margin-left: 5px;
    font-size: 8px;
}

.advance_search {
    width: 25%;
}

    .advance_search .filterBox {
        width: 300px;
        padding: 10px;
        padding-top: 0px;
    }

        .advance_search .filterBox .elements {
            margin-top: 10px;
            display: inline-table;
        }

        .advance_search .filterBox input,
        .advance_search .filterBox select,
        .advance_search .filterBox .select2-container {
            margin-bottom: 10px;
        }

        .advance_search .filterBox li i {
            margin-right: 7px;
        }

.nav-tabs > li > a {
    color: #a8a8a8;
    cursor: pointer;
    border: none;
}

    .nav-tabs > li > a:hover {
        background: none;
        border: none;
        color: #ddd;
    }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border: none;
    border-bottom: 1px solid #2F343D;
    color: #2F343D;
}

.inner-score {
    margin: 15px;
}

.form-controls {
    margin-top: 25px;
}

.form-control{
    height: inherit;
}

.table > tbody > tr.danger > td > .flat-input {
    background-color: #f2dede;
}

.table-hover > tbody > tr.danger:hover > td > .flat-input {
    background-color: #ebcccc;
}

.flat-input {
    border: none;
    -webkit-box-shadow: none !important;
    -ms-box-shadow: none !important;
    box-shadow: none !important;
    outline: none !important;
    margin: -3px 0px;
}

    .flat-input:focus {
        /*border: 1px solid gray !important;*/
        -webkit-box-shadow: none !important;
        -ms-box-shadow: none !important;
        box-shadow: none !important;
        outline: none !important;
        font-weight: bold;
        font-size: 14px;
    }

    .flat-input.has-error {
        border: 1px solid red !important;
    }


.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}

    .fileUpload input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        -ms-opacity: 0;
        opacity: 0;
        filter: alpha(opacity=0);
    }


.big-button .thumbnail {
    color: #2F4354;
    padding: 8px;
    cursor: pointer;
    text-align: center;
    min-height: 155px;
    padding-top: 22px;
}

    .big-button .thumbnail:hover {
        background: #F5F5F5;
        border: 1px solid #bfbfbf;
    }

    .big-button .thumbnail label {
        cursor: pointer;
    }

    .big-button .thumbnail .fa, .big-button .thumbnail .glyphicon {
        font-size: 6em;
    }

.content-label {
    margin-right: 7px;
    font-size: 13px;
}


.bigdrop.select2-container .select2-results {
    max-height: 300px;
}

.bigdrop .select2-results {
    max-height: 300px;
}


.checklistbox {
    -moz-min-width: 300px;
    -ms-min-width: 300px;
    -o-min-width: 300px;
    -webkit-min-width: 300px;
    height: 200px;
    overflow-y: scroll;
}

    .checklistbox label {
        margin-bottom: 0px;
    }

    .checklistbox .listitem {
        display: block;
        cursor: pointer;
        padding: 7px 16px;
        border-bottom: 1px solid #ccc;
    }

        .checklistbox .listitem:hover {
            background-color: #fafafa;
        }

        .checklistbox .listitem input {
            margin-right: 8px;
        }




.glass > .panel-heading {
    color: #333;
    background: none;
    border-color: #ddd;
}

.searchFilterBox {
    padding: 0 10px;
    border-bottom: 1px solid #dddddd;
}

.searchFilter {
    -ms-border-radius: 18px !important;
    border-radius: 18px !important;
    margin: 10px 0px;
}

.filterContainer {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}


input[type=checkbox].css-checkbox.lrg + label.css-label.lrg {
    padding-left: 26px;
}

.group-ctrls {
    width: 100%;
}

    .group-ctrls .input-group-btn {
        width: 50%;
    }

.roboto {
    font-family: 'RobotoRegular';
}

    .roboto strong {
        font-family: 'RobotoRegular';
    }

    .roboto label {
        font-weight: normal;
    }
.card {
    display: block;
    font-family: 'RobotoRegular';
    -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

    .card .card-body {
        padding: 11px;
    }

        .card .card-body .card-body-container {
            padding: 0 13px;
        }

    .card .notice {
        border-bottom: 1px solid #f4f4f4;
        padding: 16px;
    }

    .card .header-line {
        border-bottom: 1px solid #f4f4f4;
    }

    .card .card-header {
        padding: 23px 26px;
        padding-bottom: 5px;
    }

        .card .card-header h2 {
            margin: 0;
            line-height: 100%;
            font-size: 17px;
            font-weight: 400;
        }

            .card .card-header h2 small {
                font-size: 12px;
                display: block;
                margin-top: 8px;
                color: #AEAEAE;
                line-height: 160%;
            }

    .card .card-footer {
        padding: 16px 26px;
        border-top: 1px solid #DFDFDF;
    }


    .card b {
        font-family: 'RobotoLight';
    }

    .card .value {
        font-weight: bold;
    }

.card-form > .overlay {
    z-index: 1010;
    background: #ffffff;
    background: rgba(255, 255, 255, 0.70);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


a.action {
    text-decoration: none;
    padding: 5px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    margin-right: 10px;
}

    a.action:hover {
        text-decoration: none;
        /*background-color: #f4f4f4;*/
    }

    a.action i {
        margin-right: 7px;
    }

.modal_flat .modal-header {
    padding: 10px;
}

.modal_flat .modal-title h4 {
    font-size: 17px;
}

.modal_flat h4 .sub-title {
    color: #bec5c2;
    font-size: 14px;
}

.modal_flat .modal-content {
    /*min-height: 400px;*/
    -ms-border-radius: 0px;
    border-radius: 0px;
    border: 1px solid #f4f4f4;
    -webkit-box-shadow: 0px 1px 5px #000000;
    -ms-box-shadow: 0px 1px 5px #000000;
    box-shadow: 0px 1px 5px #000000;
    box-shadow: 0px 1px 5px hsla(0, 0%, 0%, 0.10);
}


.loading b {
    font-size: 16px;
}

.notes {
    max-height: 289px;
    overflow: auto;
    border: 1px solid #f4f4f4;
    padding: 6px;
}

.modal-backdrop {
    background: none;
}

.modal-dialog {
    margin: 100px auto;
}

.page_pager .pager {
    margin: 0px;
    display: inline-block;
    float: right;
    margin-top: -6px;
}

    .page_pager .pager li {
        margin-left: 5px;
        cursor: pointer;
    }


.list_button {
    margin-top: 25px;
}

.link-card {
    color: #1D385C;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

    .link-card:hover {
        text-decoration: none;
        -webkit-box-shadow: 0px 3px 6px 2px #000000;
        -ms-box-shadow: 0px 3px 6px 2px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 3px 6px 2px #000000;
        box-shadow: 0px 3px 6px 2px rgba(0, 0, 0, 0.1);
    }
    
    
.toast-top-center{
    margin-top: 60px !important;
}