.btn, input[type=text], .select2-container, .form-control {
    -ms-border-radius: 2px;
    border-radius: 2px;
}

input[type="checkbox"],
input[type="radio"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 4px 0 0;
    margin-top: 1px \9;
    line-height: normal;
}


    input[type="radio"]:focus,
    input[type="checkbox"]:focus {
        outline: thin dotted;
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
    }

.radio,
.checkbox {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

    .radio label,
    .checkbox label {
        min-height: 23px;
        padding-left: 20px;
        margin-bottom: 0;
        font-weight: normal;
        cursor: pointer;
    }

    .radio input[type="radio"],
    .radio-inline input[type="radio"],
    .checkbox input[type="checkbox"],
    .checkbox-inline input[type="checkbox"] {
        position: absolute;
        margin-left: -20px;
        margin-top: 4px \9;
    }

    .radio + .radio,
    .checkbox + .checkbox {
        margin-top: -5px;
    }

.radio-inline,
.checkbox-inline {
    position: relative;
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 0;
    vertical-align: middle;
    font-weight: normal;
    cursor: pointer;
}

    .radio-inline + .radio-inline,
    .checkbox-inline + .checkbox-inline {
        margin-top: 0;
        margin-left: 10px;
    }

input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"].disabled,
input[type="checkbox"].disabled,
fieldset[disabled] input[type="radio"],
fieldset[disabled] input[type="checkbox"] {
    cursor: not-allowed;
}

.radio-inline.disabled,
.checkbox-inline.disabled,
fieldset[disabled] .radio-inline,
fieldset[disabled] .checkbox-inline {
    cursor: not-allowed;
}

.radio.disabled label,
.checkbox.disabled label,
fieldset[disabled] .radio label,
fieldset[disabled] .checkbox label {
    cursor: not-allowed;
}

.form-inline .radio,
.form-inline .checkbox {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
}

    .form-inline .radio label,
    .form-inline .checkbox label {
        padding-left: 0;
    }

    .form-inline .radio input[type="radio"],
    .form-inline .checkbox input[type="checkbox"] {
        position: relative;
        margin-left: 0;
    }

.form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 7px;
}

.form-horizontal .radio,
.form-horizontal .checkbox {
    min-height: 30px;
}

[data-toggle="buttons"] > .btn input[type="radio"],
[data-toggle="buttons"] > .btn-group > .btn input[type="radio"],
[data-toggle="buttons"] > .btn input[type="checkbox"],
[data-toggle="buttons"] > .btn-group > .btn input[type="checkbox"] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none;
}

.input-group-addon input[type="radio"],
.input-group-addon input[type="checkbox"] {
    margin-top: 0;
}

.radio label,
.radio-inline label,
.checkbox label,
.checkbox-inline label {
    padding-left: 25px;
}

.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="radio"],
.checkbox-inline input[type="radio"],
.radio input[type="checkbox"],
.radio-inline input[type="checkbox"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
    margin-left: -25px;
}

input[type="radio"],
.radio input[type="radio"],
.radio-inline input[type="radio"] {
    position: relative;
    margin-top: 5px;
    margin-right: 4px;
    vertical-align: -4px;
    border: none;
    background-color: transparent;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
}

    input[type="radio"]:focus,
    .radio input[type="radio"]:focus,
    .radio-inline input[type="radio"]:focus {
        outline: none;
    }

    input[type="radio"]:before,
    .radio input[type="radio"]:before,
    .radio-inline input[type="radio"]:before,
    input[type="radio"]:after,
    .radio input[type="radio"]:after,
    .radio-inline input[type="radio"]:after {
        content: "";
        display: block;
        width: 18px;
        height: 18px;
        margin-top: -3px;
        border-radius: 50%;
        -webkit-transition: 240ms;
        -o-transition: 240ms;
        transition: 240ms;
    }

    input[type="radio"]:before,
    .radio input[type="radio"]:before,
    .radio-inline input[type="radio"]:before {
        position: absolute;
        left: 0;
        top: 0;
        background-color: #2196f3;
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
    }

    input[type="radio"]:after,
    .radio input[type="radio"]:after,
    .radio-inline input[type="radio"]:after {
        border: 2px solid #666666;
    }

    input[type="radio"]:checked:before,
    .radio input[type="radio"]:checked:before,
    .radio-inline input[type="radio"]:checked:before {
        -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
        -o-transform: scale(0.5);
        transform: scale(0.5);
    }

    input[type="radio"]:disabled:checked:before,
    .radio input[type="radio"]:disabled:checked:before,
    .radio-inline input[type="radio"]:disabled:checked:before {
        background-color: #bbbbbb;
    }

    input[type="radio"]:checked:after,
    .radio input[type="radio"]:checked:after,
    .radio-inline input[type="radio"]:checked:after {
        border-color: #2196f3;
    }

    input[type="radio"]:disabled:after,
    .radio input[type="radio"]:disabled:after,
    .radio-inline input[type="radio"]:disabled:after,
    input[type="radio"]:disabled:checked:after,
    .radio input[type="radio"]:disabled:checked:after,
    .radio-inline input[type="radio"]:disabled:checked:after {
        border-color: #bbbbbb;
    }

input[type="checkbox"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
    position: relative;
    vertical-align: -4px;
    border: none;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
}

    input[type="checkbox"]:focus,
    .checkbox input[type="checkbox"]:focus,
    .checkbox-inline input[type="checkbox"]:focus {
        outline: none;
    }

    input[type="checkbox"]:after,
    .checkbox input[type="checkbox"]:after,
    .checkbox-inline input[type="checkbox"]:after {
        content: "";
        display: block;
        width: 18px;
        height: 18px;
        margin-top: -2px;
        margin-right: 5px;
        border: 2px solid #666666;
        border-radius: 2px;
        -webkit-transition: 240ms;
        -o-transition: 240ms;
        transition: 240ms;
    }

    input[type="checkbox"]:checked:before,
    .checkbox input[type="checkbox"]:checked:before,
    .checkbox-inline input[type="checkbox"]:checked:before {
        content: "";
        position: absolute;
        top: 0;
        left: 6px;
        display: table;
        width: 6px;
        height: 12px;
        border: 2px solid #fff;
        border-top-width: 0;
        border-left-width: 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    input[type="checkbox"]:checked:after,
    .checkbox input[type="checkbox"]:checked:after,
    .checkbox-inline input[type="checkbox"]:checked:after {
        background-color: #2196f3;
        border-color: #2196f3;
    }

    input[type="checkbox"]:disabled:after,
    .checkbox input[type="checkbox"]:disabled:after,
    .checkbox-inline input[type="checkbox"]:disabled:after {
        border-color: #bbbbbb;
    }

    input[type="checkbox"]:disabled:checked:after,
    .checkbox input[type="checkbox"]:disabled:checked:after,
    .checkbox-inline input[type="checkbox"]:disabled:checked:after {
        background-color: #bbbbbb;
        border-color: transparent;
    }

.has-warning input:not([type=checkbox]),
.has-warning .form-control,
.has-warning input:not([type=checkbox]):focus,
.has-warning .form-control:focus {
    -webkit-box-shadow: inset 0 -2px 0 #ff9800;
    box-shadow: inset 0 -2px 0 #ff9800;
}

.has-error input:not([type=checkbox]),
.has-error .form-control,
.has-error input:not([type=checkbox]):focus,
.has-error .form-control:focus {
    -webkit-box-shadow: inset 0 -2px 0 #e51c23;
    box-shadow: inset 0 -2px 0 #e51c23;
}

.has-success input:not([type=checkbox]),
.has-success .form-control,
.has-success input:not([type=checkbox]):focus,
.has-success .form-control:focus {
    -webkit-box-shadow: inset 0 -2px 0 #4caf50;
    box-shadow: inset 0 -2px 0 #4caf50;
}

.modal-content {
    -ms-border-radius: 0;
    border-radius: 0;
}

.input-group-lg > .form-control {
    -ms-border-radius: 0;
    border-radius: 0;
}